.dolgok{
    margin: 1rem 2rem;
    margin-left: calc(25% + 2rem);
    text-align: center;
}

.dolgok h1{
    font-size: 4rem;
}

.dolgok h2{
    margin: 4rem;
}

h2 > a{
    text-decoration: none;
    color: black;
}