.rolam p{
    text-align: justify;
}

.rolam p:nth-child(5){
    margin-bottom: 0;
}

.rolam p:nth-child(6){
    margin-top: 0;
}

.rolam{
    margin: 1rem 2rem;
    margin-left: calc(25% + 2rem);
}

#arnyek{
    padding:15px;
    box-shadow: 0px 3px 8px -3px;
}    